
asdfadsfadsfadsf
<div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item">
      <img src="https://www.standard.co.uk/s3fs-public/styles/story_large/public/thumbnails/image/2017/09/25/21/arsenal-west-brom-250917zi.jpg" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h3>...</h3>
        <p>...</p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function(){

    var carousel = $('carousel');

    console.log(carousel);

  });
  
  

</script>